[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
environs = "*"
opencv-python = "*"
pytesseract = "*"
wand = "*"

[dev-packages]

[requires]
python_version = "*"
